# Ignore everything by default
*

# Allow only the .gitignore file itself
!.gitignore

# Allow the plugin folder and its contents
!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/social-publisher/
!wp-content/plugins/social-publisher/**