.btn {
  border-radius: 5px;
  font-family: $karla;
  padding: 7px 16px;
  min-width: 190px;
  font-weight: 700;
  letter-spacing: -0.15px;
  align-self: baseline;
  border-width: 2px;
  &.blue {
    border-color: $blue;
    color: $white;
    border-width: 2px;
    background: $blue;
    &:hover {
      color: $white;
      background: $red;
      border-color: $red;
    }
  }
  &.cyan {
    border-color: $cyan;
    color: $blue;
    border-width: 2px;
    background: $cyan;
    &:hover {
      color: $white;
      background: $red;
      border-color: $red;
    }
  }

  &.white-brd-blue {
    border-color: $blue;
    color: $blue;
    border-width: 2px;
    &:hover {
      color: $white;
      background: $red;
      border-color: $red;
    }
  }
  &.white-on-bg-blue {
    background-color: $blue;
    color: $white;
    border-color: $blue;
    border: 1px solid $blue;
    &:hover {
      color: $white;
      background: $red;
      border-color: $red;
    }
  }
  &.icon {
    &.arrow-right {
      &:after {
        content: "";
        background: url("../assets/img/arrow-right-blue.svg") no-repeat;
        position: absolute;
        right: 11px;
        top: 7px;
        width: 24px;
        height: 24px;
        z-index: 1000;
        transition: all 0.15s ease-in-out;
      }
      &:hover {
        border-color: $red;
        color: $red;
        &:after {
          background: url("../assets/img/arrow-right-red.svg") no-repeat;
        }
      }
      &.transparent {
        padding: 7px 40px 7px 18px;
        background-color: transparent;
        border-color: $white;
        color: $white;
        &:after {
          background: url("../assets/img/arrow-right-white.svg") no-repeat;
        }
        &:hover {
          border-color: $red;
          color: $red;
          &:after {
            background: url("../assets/img/arrow-right-red.svg") no-repeat;
          }
        }
      }
      &.green {
        padding: 7px 40px 7px 18px;
        background-color: $green;
        border-color: $green;
        color: $blue;
        &:after {
          background: url("../assets/img/arrow-right-blue.svg") no-repeat;
        }
        &:hover {
          color: $white;
          background-color: $red;
          border-color: $red;
          &:after {
            background: url("../assets/img/arrow-right-white.svg") no-repeat;
          }
        }
      }
      &.white {
        padding: 7px 40px 7px 18px;
        background-color: $white;
        color: $blue;
        &:after {
          background: url("../assets/img/arrow-right-blue.svg") no-repeat;
        }
        &:hover {
          color: $red;
          background-color: $white;
          &:after {
            background: url("../assets/img/arrow-right-red.svg") no-repeat;
          }
        }
      }
      &.blue {
        padding: 7px 40px 7px 18px;
        &:after {
          background: url("../assets/img/arrow-right-white.svg") no-repeat;
        }
        &:hover {
          color: $white;
          &:after {
            background: url("../assets/img/arrow-right-white.svg") no-repeat;
          }
        }
      }
      &.cyan {
        padding: 7px 40px 7px 18px;
        &:after {
          background: url("../assets/img/arrow-right-blue.svg") no-repeat;
        }
        &:hover {
          color: $white;
          &:after {
            background: url("../assets/img/arrow-right-white.svg") no-repeat;
          }
        }
      }
    }
    &.link-external {
      &.blue {
        padding: 7px 40px 7px 5px;
        background-color: $blue;
        border-color: $white;
        &:after {
          content: "";
          background: url("../assets/img/link-white.svg") no-repeat;
          position: absolute;
          right: 18px;
          top: 7px;
          width: 24px;
          height: 24px;
          z-index: 1000;
          transition: all 0.15s ease-in-out;
        }
        &:hover {
          background: $red;
          &:after {
            background: url("../assets/img/link-white.svg") no-repeat;
          }
        }
      }
    }
    &.call {
      padding: 7px 40px 7px 18px;
      &:after {
        content: "";
        background: url("../assets/img/phone.svg") no-repeat;
        position: absolute;
        right: 18px;
        top: 8px;
        width: 24px;
        height: 24px;
        z-index: 1000;
        transition: all 0.15s ease-in-out;
      }
      &:hover {
        background: $red;
        color: $white;
        border-color: $red;
        &:after {
          background: url("../assets/img/phone-white.svg") no-repeat;
        }
      }
      &.btn-blue {
        &:after {
          content: "";
          background: url("../assets/img/phone_white.svg") no-repeat;
          position: absolute;
          right: 18px;
          top: 8px;
          width: 24px;
          height: 24px;
          z-index: 1000;
          transition: all 0.15s ease-in-out;
        }
      }
    }
    &.appointment {
      padding: 7px 40px 7px 18px;
      &:after {
        content: "";
        background: url("../assets/img/ic_appointment.svg") no-repeat;
        position: absolute;
        right: 18px;
        top: 8px;
        width: 24px;
        height: 24px;
        z-index: 1000;
        transition: all 0.15s ease-in-out;
      }
      &:hover {
        background: $red;
        color: $white;
        border-color: $red;
        &:after {
          background: url("../assets/img/ic_appointment_white.svg") no-repeat;
        }
      }
      &.btn-blue {
        &:after {
          background: url("../assets/img/ic_appointment_white.svg") no-repeat;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
}
