.teaser_cont {
  &.value {
    padding-top: 250px;
    padding-bottom: 200px;
    h4.headline {
      @include from53-125;
      font-family: "Noe";
      color: $secondary;
      margin-bottom: 40px;
    }
    .keyword_wrap {
      flex-shrink: 0;
      padding-right: 30px;
      .copy {
        padding-top: 11px;
      }
      .headline {
        font-size: 65px;
        font-family: "Noe";
        line-height: 53px;
        color: $secondary;
      }
      .subline {
        color: $cyan;
        font-size: 16px;
        letter-spacing: -0.2px;
        text-align: right;
      }
      img {
        width: 105px;
        height: 105px;
        position: relative;
        top: -16px;
      }
    }
    p {
      @include straight-20;
      font-weight: 800;
      padding-right: 20px;
      margin-bottom: 12px;
    }
  }
}
