.filter {
  ul {
    padding: 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    li {
      position: relative;
      float: left;
      margin-right: 4px;
      margin-left: 4px;
      @include media-breakpoint-up(md) {
        margin-right: 8px;
        margin-left: unset;
      }
      &:last-child {
        margin-right: 0;
        label {
          padding-right: 0 !important;
        }
      }
      label {
        font-size: 16px;
      }
    }
  }
  .searchandfilter ul li li label {
    background: transparent;
    margin: 3px 0;
    color: $white;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .searchandfilter ul li li.sf-option-active label {
    color: $cyan;
    position: relative;
    &:after {
      content: "";
      height: 2px;
      background-image: linear-gradient(to right, #ff2e48 26%, #76d8e5 59%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  .searchandfilter ul li li {
    padding: 5px;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  input.sf-input-checkbox {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    display: none;
  }
  input.sf-input-radio {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    display: none;
  }
}
