.offcanvas-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  flex-grow: 0;
}

.offcanvas-header .btn-close {
  padding-right: 20px;
  margin-bottom: 0;
}

.offcanvas {
  transform: translate(0, -100%);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 100%;
  @include media-breakpoint-down(md) {
    // background-image: linear-gradient(114deg, #ff2e48 -25%, #76d8e5 108%);
  }
  .nav-item {
    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
  }
  .btn-close {
    transition: 1s ease-in-out;
  }
  .phone {
    position: absolute;
    top: 75px;
    z-index: 10000;
    left: 300px;
  }
  #phone {
    transition: 1s ease-in-out;
    padding-top: 10px;
    right: 155px;
    position: absolute;
    width: 30px;
    top: -100px;
  }
  #mail {
    transition: 1s ease-in-out;
    padding-top: 80px;
    right: 15px;
    position: relative;
    width: 30px;
  }
  &.show .btn-close {
    rotate: 1.75turn;
    opacity: 1;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 10px;
    right: 19px;
  }
  &.show .phone {
    position: relative;
    left: unset;
  }
  &.show #phone,
  &.show #mail {
    padding-top: 30px;
    right: 20px;
  }
  &.show #phone {
    margin-right: 25px;
  }
  .offcanvas-header {
    padding: 0rem 1rem;
  }
}
