@import "../mixins/typo";
// h1:not(.home) {
//     @include headline-big;
// }
h1 {
  @include h1-29-32;
  font-weight: 700;
}

h2,
.h2 {
  @include headline-64-104;
}

h5 {
  font-weight: 700;
}

.noe {
  font-family: "Noe";
}

.bold {
  font-weight: 800;
}

.font-24-32 {
  font-size: 24px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}

.font-29-32 {
  font-size: 29px;
  line-height: 29px;
  font-weight: 800;
  letter-spacing: -0.2px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 32px;
  }
}

.font-26 {
  font-size: 26px !important;
}

.white {
  color: $white;
}

.w-800 {
  font-weight: 800;
}
.ls--2 {
  letter-spacing: -0.2px !important;
}
.single-post {
  h1 {
    font-size: 55px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px; /* 120% */
    letter-spacing: -2px;
  }
  h3 {
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px; /* 107.895% */
    letter-spacing: -0.2px;
  }
  h4 {
    font-family: Karla;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 123.077% */
    letter-spacing: -0.2px;
  }
  h5 {
  }
}
