@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-VariableFont_wght.ttf") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "Noe";
  src: url("../fonts/noe-display-bold.woff2") format("woff2"),
    url("../fonts/noe-display-bold.woff") format("woff");
  font-display: swap;
  font-display: swap;
}
