body {
  font-family: "Karla";
  font-weight: 700;
}

.wrapper {
  padding: 0;
}

#full-width-page-wrapper {
  min-height: 97.3vh;
  margin-top: 52px;
}

.section_contact {
  h2 {
    margin-bottom: 50px;
  }
}

p {
  hyphens: auto;
}

.text-dark {
  color: $secondary;
}

#menu-basic .txt a {
  &:after {
    content: "";
    transition: 0.2s ease-in-out;
  }
  &:hover {
    color: $red;
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  position: relative;
  &.txt {
    &:after {
      content: "";
      transition: 0.2s ease-in-out;
    }
    &:hover {
      color: $red;
    }
  }
}

.content {
  a {
    color: $white;
    text-decoration: underline;
  }
  a.btn {
    text-decoration: none;
  }
}

.h-60_90 {
  min-height: 60vh;
  @include media-breakpoint-up(md) {
    min-height: 90vh;
  }
}

:root {
  --swiper-pagination-color: #ff2e48;
  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }
}

.max-1360 {
  max-width: 1360px;
  margin: 0 auto;
}

.max-1800 {
  max-width: 1800px;
  margin: 0 auto;
}

.max-380 {
  max-width: 380px;
}

.sticky-lg-top {
  top: 120px;
  margin-top: 50px;
  margin-bottom: 48px;
}

.visually-hidden-custom {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/* Make it visible when focused */
.visually-hidden-custom:focus,
.visually-hidden-custom:active {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  overflow: visible !important;
  clip: auto !important;
  white-space: normal !important;
  background: #fff !important; /* Optional: Add contrast for visibility */
  padding: 10px !important;
  font-size: 1rem !important;
}
