body.single-post {
  background: $secondary;
  .breadcrumb {
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: 20px;
    a:after {
      bottom: -5px;
    }
  }
}
.single-post #content {
  h1,
  h2,
  h3 {
    margin-top: 35px;
    hyphens: auto;
  }
  h4 {
    margin-top: 35px;
    hyphens: auto;
  }
  h5 {
    margin-top: 35px;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    line-height: 24px; /* 120% */
    letter-spacing: -0.25px;
    hyphens: auto;
  }
  p {
    @include straight-20;
    color: $blue;
  }
  .entry-header {
    .intro {
      margin-bottom: 70px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 800;
      letter-spacing: -0.25px;
      color: $secondary;
    }
  }
  .entry-content {
    margin-bottom: 200px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 300px;
    }
    a {
      text-decoration: underline;
    }
    ul {
      font-size: 20px;
    }
  }
}
.single-post .sidebar {
  .wrapper {
    background: $gray-fb;
    padding: 35px 50px 35px 40px;
  }
  .headline {
    font-size: 26px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin-bottom: 15px;
  }
  img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 20px;
  }
  .btn {
    margin-top: 18px;
  }
  .name {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.25px;
    margin-top: 20px;
  }
  .title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: rgba(4, 39, 62, 0.6);
    font-weight: 700;
  }
}
.post-navigation {
  background: $gray-fb;
  padding-top: 50px;
  padding-bottom: 50px;
  .nav-previous a {
    position: relative;
    padding-left: 30px;
    margin-left: 23px;
    cursor: pointer;
    &:after {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuODI4NDMgMTAuOTk5OUgyMFYxMi45OTk5SDcuODI4NDNMMTMuMTkyNCAxOC4zNjM4TDExLjc3ODIgMTkuNzc4TDQgMTEuOTk5OUwxMS43NzgyIDQuMjIxNjhMMTMuMTkyNCA1LjYzNTg5TDcuODI4NDMgMTAuOTk5OVoiIGZpbGw9IiMwNDI3M0UiLz4KPC9zdmc+Cg==")
        no-repeat;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      left: 0;
      transition: 0.2s ease-in-out;
    }
    &:hover {
      color: $red;
      &:after {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuODI4NDMgMTAuOTk5OUgyMFYxMi45OTk5SDcuODI4NDNMMTMuMTkyNCAxOC4zNjM4TDExLjc3ODIgMTkuNzc4TDQgMTEuOTk5OUwxMS43NzgyIDQuMjIxNjhMMTMuMTkyNCA1LjYzNTg5TDcuODI4NDMgMTAuOTk5OVoiIGZpbGw9IiNGRTQ2M0MiLz4KPC9zdmc+Cg==")
          no-repeat;
      }
    }
  }
  .nav-next a {
    position: relative;
    padding-right: 30px;
    margin-right: 23px;
    cursor: pointer;
    &:after {
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3MTYgMTAuOTk5OUwxMC44MDc2IDUuNjM1ODlMMTIuMjIxOCA0LjIyMTY4TDIwIDExLjk5OTlMMTIuMjIxOCAxOS43NzhMMTAuODA3NiAxOC4zNjM4TDE2LjE3MTYgMTIuOTk5OUg0VjEwLjk5OTlIMTYuMTcxNloiIGZpbGw9IiMwNDI3M0UiLz4KPC9zdmc+Cg==")
        no-repeat;
      width: 24px;
      height: 24px;
      content: "";
      position: absolute;
      right: 0;
      transition: 0.2s ease-in-out;
    }
    &:hover {
      color: $red;
      &:after {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjE3MTYgMTAuOTk5OUwxMC44MDc2IDUuNjM1ODlMMTIuMjIxOCA0LjIyMTY4TDIwIDExLjk5OTlMMTIuMjIxOCAxOS43NzhMMTAuODA3NiAxOC4zNjM4TDE2LjE3MTYgMTIuOTk5OUg0VjEwLjk5OTlIMTYuMTcxNloiIGZpbGw9IiNGRTQ2M0MiLz4KPC9zdmc+Cg==")
          no-repeat;
      }
    }
  }
}
