.hero_cont {
  padding-bottom: 400px;
  .headline {
    @include from53-125;
    font-family: "Noe";
    color: $cyan;
    hyphens: auto;
  }
  .subline {
    color: $cyan;
    text-align: right;
    @include from24-39;
    margin-bottom: 15px;
    font-weight: 800;
    margin-top: 50px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
    &_two {
      color: $white;
      text-align: right;
      @include from24-39;
      font-weight: 800;
    }
  }
}
.page-template-page-sea {
  background: $blue;
  #page {
    @include media-breakpoint-down(md) {
      overflow-x: hidden;
    }
  }
  .breadcrumb {
    color: $white;
    .home-link svg {
      fill: $white;
    }
  }

  .swipe_cont {
    margin-top: -240px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 100%
    );

    .swiper-slide {
      text-align: center;
      img {
        max-height: 768px;
      }
    }
  }

  .text_cont {
    padding-top: 100px;
    padding-bottom: 55px;
    .headline-main {
      @include from30-38;
      font-weight: 800;
      margin-bottom: 50px;
    }
    img {
      padding-right: 20px;
    }
    .headline {
      color: $cyan;
      margin-bottom: 10px;
      @include straight-26;
      font-weight: 800;
    }
    p {
      @include straight-20;
      color: $blue;
    }
    a {
      text-decoration: underline;
    }
  }

  .contact_section {
    padding-top: 190px;
    padding-bottom: 200px;
    .preline {
      @include from24-26;
      color: $cyan;
      font-weight: 800;
      margin-bottom: 15px;
    }
    .headline {
      @include from40-85;
      font-family: "Noe";
      color: $white;
      margin-bottom: 15px;
    }
    .btn {
      float: left;
      @include media-breakpoint-up(sm) {
        float: none;
      }
    }
    form {
      margin-top: 90px;
    }
  }
}
