.page-template-page-mode {
  .hero {
    text-align: center;
  }
  .logos {
    padding-top: 100px;
    .d-flex {
      flex-wrap: wrap;
    }
  }
  .content {
    p {
      font-size: 26px;
      font-style: normal;
      font-weight: 800;
      line-height: 32px; /* 123.077% */
      letter-spacing: -0.2px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .image {
      padding: 50px 0;
    }
    .solutions {
      padding-bottom: 80px;
      &:last-child {
        padding-bottom: 150px;
      }
      .headline {
        text-align: right;
        font-family: "Noe";
        font-size: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        color: $blue;
        margin-bottom: 12px;
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
      .text {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 26px; /* 130% */
        letter-spacing: -0.25px;
        color: $blue;
        hyphens: auto;
      }
      .slug {
        padding-right: 85px;
      }
      .slug svg {
        position: absolute;
        width: 32px;
        height: 32px;
        right: -50px;
        bottom: 8px;
      }
    }
  }
  .systems {
    padding: 60px 0;
  }
  .teaser {
    padding-top: 200px;
    padding-bottom: 200px;
    color: $white;
    h1 {
      font-size: clamp(3.3125rem, 2.2203rem + 4.6602vw, 7.8125rem);
      line-height: 1.2;
      letter-spacing: -1.2px;
      font-family: Noe;
      margin-bottom: 60px;

      span {
        color: $blue;
        background: $cyan;
        border-radius: 60px;
        padding: 4px 25px 0px 25px;
        display: inline;
        margin-bottom: 4px;
        @include media-breakpoint-up(md) {
          display: unset;
          padding: 21px 40px 0px 40px;
          margin-bottom: 0;
        }
      }
    }
    .headline {
      text-align: right;
      font-family: "Noe";
      font-size: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
      font-style: normal;
      font-weight: 700;
      line-height: 53px; /* 81.538% */
    }
    .text {
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: 26px; /* 130% */
      letter-spacing: -0.25px;
      color: $white;
    }
    .slug {
      padding-right: 85px;
      text-align: right;
      span {
        font-family: Karla;
        color: $cyan;
        font-size: 16px;
        font-weight: 700;
        display: block;
        text-align: right;
        margin-top: 7px;
        line-height: 1.1;
      }
    }
    .slug svg {
      position: absolute;
      width: 32px;
      height: 32px;
      right: -50px;
      bottom: -24px;
    }
  }
  .contact_section {
    padding-top: 190px;
    padding-bottom: 200px;
    .preline {
      @include from24-26;
      color: $cyan;
      font-weight: 800;
      margin-bottom: 15px;
    }
    .headline {
      @include from40-85;
      font-family: "Noe";
      color: $blue;
      margin-bottom: 15px;
    }
    .btn {
      float: left;
      @include media-breakpoint-up(sm) {
        float: none;
      }
    }
    form {
      margin-top: 90px;
    }
    .wpcf7 .floating-labels input[type="email"],
    .wpcf7 .floating-labels input[type="email"].form-control,
    .wpcf7 .floating-labels input[type="tel"],
    .wpcf7 .floating-labels input[type="tel"].form-control,
    .wpcf7 .floating-labels input[type="text"],
    .wpcf7 .floating-labels input[type="text"].form-control,
    .wpcf7 .floating-labels textarea {
      border-color: $blue;
    }
    .wpcf7 .floating-labels .form-control,
    .wpcf7 .floating-labels .wpcf7 .wpcf7-validation-errors,
    .wpcf7 .floating-labels .wpcf7 input[type="color"],
    .wpcf7 .floating-labels .wpcf7 input[type="date"],
    .wpcf7 .floating-labels .wpcf7 input[type="datetime-local"],
    .wpcf7 .floating-labels .wpcf7 input[type="datetime"],
    .wpcf7 .floating-labels .wpcf7 input[type="email"],
    .wpcf7 .floating-labels .wpcf7 input[type="file"],
    .wpcf7 .floating-labels .wpcf7 input[type="month"],
    .wpcf7 .floating-labels .wpcf7 input[type="number"],
    .wpcf7 .floating-labels .wpcf7 input[type="range"],
    .wpcf7 .floating-labels .wpcf7 input[type="search"],
    .wpcf7 .floating-labels .wpcf7 input[type="tel"],
    .wpcf7 .floating-labels .wpcf7 input[type="text"],
    .wpcf7 .floating-labels .wpcf7 input[type="time"],
    .wpcf7 .floating-labels .wpcf7 input[type="url"],
    .wpcf7 .floating-labels .wpcf7 input[type="week"],
    .wpcf7 .floating-labels .wpcf7 select,
    .wpcf7 .floating-labels .wpcf7-validation-errors,
    .wpcf7 .floating-labels input[type="color"],
    .wpcf7 .floating-labels input[type="date"],
    .wpcf7 .floating-labels input[type="datetime-local"],
    .wpcf7 .floating-labels input[type="datetime"],
    .wpcf7 .floating-labels input[type="email"],
    .wpcf7 .floating-labels input[type="file"],
    .wpcf7 .floating-labels input[type="month"],
    .wpcf7 .floating-labels input[type="number"],
    .wpcf7 .floating-labels input[type="range"],
    .wpcf7 .floating-labels input[type="search"],
    .wpcf7 .floating-labels input[type="tel"],
    .wpcf7 .floating-labels input[type="text"],
    .wpcf7 .floating-labels input[type="time"],
    .wpcf7 .floating-labels input[type="url"],
    .wpcf7 .floating-labels input[type="week"],
    .wpcf7 .floating-labels select,
    .wpcf7 .floating-labels textarea,
    .wpcf7 .floating-labels label,
    textarea::placeholder {
      color: $blue !important;
    }
    .wpcf7 .floating-labels input[type="submit"]:hover {
      color: $white !important;
    }
    .wpcf7 .floating-labels span[data-name="your-email"]:before {
      background: url("../assets/img/ic_mail-blue.svg") no-repeat;
    }
    .wpcf7 .floating-labels span[data-name="your-name"]:before {
      background: url("../assets/img/ic_person-blue.svg") no-repeat;
    }
    .wpcf7 form.sent .wpcf7-response-output {
      color: $blue;
    }
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="email"],
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="email"].form-control,
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="tel"],
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="tel"].form-control,
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="text"],
    .page-template-page-mode .contact_section .wpcf7 .floating-labels input[type="text"].form-control,
    .page-template-page-mode .contact_section .wpcf7 .floating-labels textarea {
      background-color: $white;
    }
    .wpcf7-not-valid-tip,
    .wpcf7 form.invalid .wpcf7-response-output,
    .wpcf7 form.payment-required .wpcf7-response-output,
    .wpcf7 form.unaccepted .wpcf7-response-output {
      color: $blue;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: 1px solid rgba(255, 255, 255, 0.6);
      -webkit-text-fill-color: $blue;
      -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .zitat {
    background-image: linear-gradient(114deg, #ff2e48 -25%, #76d8e5 108%);
    padding-top: 150px;
    padding-bottom: 150px;
    blockquote {
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-family: "Noe";
    }
    .ql {
      top: -65px;
      position: relative;
    }
    .qr {
      bottom: -30px;
      position: relative;
    }
    .image {
      background-image: linear-gradient(135deg, #ff2e48 18%, #ff2e48 10%, #76d8e5 50%);
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      padding: 3px;
    }
    .name {
      font-size: 12px;
    }
    .firma {
      font-size: 16px;
      font-weight: 800;
    }
  }
}
