.home {
  background: $blue;
  .wrapper {
    padding: 0;
    background: $white;
  }
  .section_one {
    // padding-left: 10%;
    // padding-right: 10%;
    background: $secondary;
    color: $primary;
    font-family: $karla;
    font-size: 20px;
    line-height: 32px;
    @include media-breakpoint-up(md) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 50px;
      padding-right: 50px;
    }
    .unicorn-embed {
      // max-width: 100%;
      height: 200px;
      overflow: hidden;
      @include media-breakpoint-up(sm) {
        height: 400px;
      }
      @include media-breakpoint-up(md) {
        height: 600px;
      }
      @include media-breakpoint-up(lg) {
        height: 900px;
      }
    }
    .hero-slider {
      padding-top: 20%;
      padding-bottom: 175px;
      .intro {
        font-size: 64px;
        font-family: "Noe";
        line-height: 64px;
        margin-bottom: 20px;
        @include media-breakpoint-up(sm) {
          font-size: 72px;
        }
        @include media-breakpoint-up(md) {
          font-size: 104px;
          margin-bottom: 35px;
        }
      }
      h1 {
        font-size: 20px;
        line-height: 32px;
      }
      span.first {
        position: relative;
        padding-right: 80px;
        &::after {
          background: url("../assets/img/ic_gesture.svg") no-repeat;
          width: 64px;
          height: 64px;
          position: absolute;
          content: "";
          right: -12px;
          top: 6px;
          background-size: contain;
          margin: 0 10px;
          @include media-breakpoint-up(sm) {
            top: 8px;
          }
          @include media-breakpoint-up(md) {
            width: 81px;
            height: 81px;
            top: 8px;
            right: -23px;
          }
        }
      }
    }
  }
  .intro_row {
    padding-top: 100px;
    padding-bottom: 100px;
    background: $secondary;
    color: $white;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  .section_work {
    position: relative;
    // top: -140px;
    padding-top: 52px;
    .art_row:nth-child(2) {
      .col-md-8 {
        order: 1;
      }
    }
    .layout_1 {
      @include media-breakpoint-up(md) {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
      }
      @include media-breakpoint-up(xxl) {
        flex-direction: row;
      }
      .text_col {
        @include media-breakpoint-up(lg) {
          position: relative;
          left: -100px;
        }
        @include media-breakpoint-up(xxl) {
          left: 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
        }
        p {
          line-height: 21px;
          letter-spacing: -0.2px;
        }
      }
    }
    .layout_2 {
      @include media-breakpoint-up(md) {
        padding-left: 3%;
      }
      @include media-breakpoint-up(xxl) {
        justify-content: flex-end;
        padding-right: 10%;
      }
      .image_col {
        padding-left: 3%;
      }
      .text_col {
        @include media-breakpoint-up(md) {
          position: absolute;
          right: 0;
          width: 360px;
        }
        @include media-breakpoint-up(xl) {
          position: relative;
          justify-content: center;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .section_logos {
    padding-top: 120px;
  }
  .section_customers {
    .pull-up {
      @include media-breakpoint-up(md) {
        margin-top: -100px;
      }
    }
    h2 {
      @include headline-64;
    }
  }
  .section_marken {
    color: $white;
    padding-top: 100px;
    padding-bottom: 140px;
    .ux {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      @include media-breakpoint-up(md) {
        justify-content: space-between;
      }
      .item {
        font-family: "Noe";
        font-weight: bold;
        font-size: 35px;
        letter-spacing: -0.4px;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        --p: 40%;
        padding: var(--p);
        background-image: linear-gradient(135deg, #04273e 18%, #ff2e48 10%, #76d8e5 50%);
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(md) {
          // --p: 88%;
        }
        &:after {
          width: calc(100% - 5px);
          height: calc(100% - 5px);
          position: absolute;
          border-radius: 50%;
          background-color: $blue;
          content: "";
          z-index: -1;
        }
        .descr {
          position: absolute;
          bottom: -60px;
          font-size: 14px;
          text-align: center;
          width: 135px;
          font-family: "Karla";
        }
        &.plus {
          background: transparent;
          .one,
          .two {
            width: 80px;
            height: 4px;
            border-radius: 10px;
            background-image: linear-gradient(90deg, #ff2e48 0%, #76d8e5 50%);
            position: absolute;
          }
          .two {
            transform: rotate(270deg);
          }
          &:after {
            display: none;
          }
        }
      }
    }
    h2 {
      font-size: 64px;
      font-family: "Noe";
      line-height: 64px;
      margin-top: 75px;
      hyphens: auto;
    }
    .image_col {
      margin-top: 95px;
    }
  }
  .section_about {
    background: $blue;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: -215px;
    h2 {
      font-size: clamp(4rem, 3.3838rem + 2.6291vw, 5.75rem);
      line-height: 1;
      hyphens: auto;
      margin-bottom: 12px;
    }
  }
  .section_contact {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: -250px;
  }
}

.heading-intro-highlight {
  color: $cyan;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  width: 216px;
  text-align: center;
}

.media-item-contents {
  box-shadow: 3px 3px 7.5px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0.5rem;
}
