.page-template-page-leistungen {
  color: $white;
  background: $blue;
  .breadcrumb {
    color: $white;
    margin-bottom: 100px;

    .home-link svg {
      fill: $white;
    }
  }
  .row.rep {
    margin-bottom: 120px;
  }
  .content {
    h1 {
      font-size: clamp(1.8125rem, 1.2403rem + 2.4413vw, 3.4375rem);
      font-weight: 800;
      letter-spacing: -1px;
      line-height: 1;
      hyphens: auto;
      @include media-breakpoint-up(lg) {
        letter-spacing: -2px;
      }
    }

    h2 {
      font-size: clamp(1.5625rem, 1.1224rem + 1.8779vw, 2.8125rem);
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.8px;
      hyphens: auto;
      @include media-breakpoint-up(lg) {
        letter-spacing: -2px;
      }
    }

    h3 {
      font-size: clamp(1.375rem, 1.0229rem + 1.5023vw, 2.375rem);
      letter-spacing: -0.6px;
      hyphens: auto;
      @include media-breakpoint-up(lg) {
        letter-spacing: -0.2px;
      }
    }
    h4 {
      font-size: clamp(1.25rem, 1.118rem + 0.5634vw, 1.625rem);
      letter-spacing: -0.6px;
      hyphens: auto;
      @include media-breakpoint-up(lg) {
        letter-spacing: -0.2px;
      }
    }
    h5 {
      font-size: clamp(1.0625rem, 0.9965rem + 0.2817vw, 1.25rem);
      letter-spacing: -0.25px;
      hyphens: auto;
    }
    img {
      margin: 20px 0;
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
  .slug {
    font-family: "Noe";
    font-size: clamp(2.5rem, 2.0599rem + 1.8779vw, 3.75rem);
    line-height: 0.82;
    font-weight: 500;
    text-align: right;
    margin-bottom: 30px;
    transition: margin-bottom 0.2s ease-in-out;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
    span {
      font-family: "Karla";
      font-size: 16px;
      font-weight: bold;
      display: block;
      text-align: right;
      margin-top: 15px;
      line-height: 1.1;
    }
    svg {
      width: 32px;
      height: 32px;
      position: unset;
      right: -50px;
      bottom: 8px;
      @include media-breakpoint-up(lg) {
        position: absolute;
      }
    }
  }
}
