.page-template-page-blog-category {
  .text_cont {
    .headline {
      @include from30-38;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }
  .section_contact {
    padding-top: 50px;
  }
  .filter .searchandfilter ul li li label {
    color: $secondary;
  }
}
