.portfolio-template-post-portfolio-short,
.portfolio-template-post-portfolio-short-lottie-intro,
.portfolio-template-post-portfolio-big {
  #animationWindow {
    @include media-breakpoint-up(sm) {
      max-width: 150vw !important;
      max-height: 150vw !important;
      margin: 0 auto !important;
    }
  }
  .sticky-lg-top {
    // top: 30px;
    // margin-top: 80px;
    // margin-bottom: 48px;
    .date-cta {
      margin-bottom: 15px;
    }
  }
  .text-dark .text_col {
    h2 {
      color: $white;
    }
  }
  .creative-title {
    @include h1-29-32;
  }
  h1 {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    @include media-breakpoint-up(lg) {
      margin-bottom: 140px;
      margin-top: unset;
    }
  }
  .text_col h2 {
    color: $cyan;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: -0.24px;
    margin-bottom: 15px;
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .section_customer {
    .headline {
      font-size: 20px;
      font-weight: 800;
    }
    .subline {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .section_customer {
    padding-top: 100px;
  }
  .section_leistungen {
    .headline {
      font-size: 20px;
      margin-bottom: 5px;
      font-weight: 800;
    }
    ul {
      max-width: 450px;
      list-style-type: none;
      padding-left: 0;
      // @include media-breakpoint-up(sm) {
      //   column-count: 2;
      // }
      li {
        font-size: 16px;
        line-height: 18px;
        position: relative;
        margin-bottom: 15px;
        width: 50%;
        float: left;
        &:after {
          width: 25px;
          height: 2px;
          background: $cyan;
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
        }
      }
    }
    &.list {
      padding-bottom: 80px;
    }
  }
  .section_breadcrumb {
    padding: 45px 0;
    .nav-previous,
    .nav-next {
      a {
        color: $white;
        font-family: $karla;
        padding: 10px 0;
        display: block;
        text-align: center;
        &:hover {
          color: $red;
          svg {
            fill: $red;
          }
        }
      }
    }
    .nav-next {
      a svg {
        position: relative;
        right: -5px;
        top: -1px;
        margin-left: 8px;
        fill: $white;
        transition: 0.2s ease-in-out;
      }
    }
    .nav-previous {
      a svg {
        position: relative;
        left: -5px;
        top: -1px;
        margin-right: 8px;
        fill: $white;
        transition: 0.2s ease-in-out;
      }
    }
  }
  .lottie {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }
  #wrapper-navbar {
    transition: 0.2s ease-in-out;
    &.bg-transparent {
      opacity: 0.3;
    }
  }
  .zitat {
    background-image: linear-gradient(114deg, #ff2e48 -25%, #76d8e5 108%);
    padding-top: 150px;
    padding-bottom: 150px;
    .ql svg,
    .qr svg {
    }
    .ql {
      top: -65px;
      position: relative;
    }
    .qr {
      bottom: -30px;
      position: relative;
    }
    blockquote {
      text-align: center;
      color: $white;
      font-size: 25px;
      font-family: "Noe";
    }
    .image {
      background-image: linear-gradient(
        135deg,
        #ff2e48 18%,
        #ff2e48 10%,
        #76d8e5 50%
      );
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      padding: 3px;
      &:after {
        width: calc(100%);
        height: calc(100%);
        position: absolute;
        border-radius: 50%;
        background-image: linear-gradient(
          135deg,
          #ff2e48 18%,
          #ff2e48 10%,
          #76d8e5 50%
        );
        content: "";
        z-index: -1;
        // left: 1px;
        // top: -4px;
      }
    }
    .name {
      font-size: 12px;
    }
    .firma {
      font-size: 16px;
      font-weight: 800;
    }
  }
}

.portfolio-template-post-portfolio-short-lottie-intro {
  .get-fixed {
    // max-width: 100%;
    // overflow: hidden;
  }
  #animationWindow {
    height: 350px;
    width: 350px;
    @include media-breakpoint-up(md) {
      height: 870px;
      width: 870px;
      // margin: 0 auto;
      background-color: $white;
    }
  }
}

.portfolio-template-post-portfolio-big {
  .section_one {
    padding-bottom: 100px;
    .col_img_right {
      img {
        position: relative;
        right: -24px;
        @include media-breakpoint-up(lg) {
          right: unset;
        }
      }
    }
  }
  .section_three {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .section_four {
    img {
      margin-bottom: -100px;
      position: relative;
      // right: -24px;
      @include media-breakpoint-up(lg) {
        right: unset;
      }
    }
  }
}

.portfolio-template-post-portfolio-short,
.portfolio-template-post-portfolio-short-lottie-intro {
  overflow-x: hidden;
  .section_customer {
    padding-top: 100px;
  }
  .section_four {
    img {
      margin-bottom: -100px;
      position: relative;
      // right: -24px;
      @include media-breakpoint-up(lg) {
        right: unset;
      }
    }
  }
}
